<p id="notice"><%= notice %></p>

<p>
  <b>Source image:</b>
  <%= @captioned_image.source_image_id %>
</p>

<p>
  <b>Title:</b>
  <%= @captioned_image.title %>
</p>

<p>
  <b>Text top:</b>
  <%= @captioned_image.text_top %>
</p>

<p>
  <b>Text bottom:</b>
  <%= @captioned_image.text_bottom %>
</p>


<%= link_to 'Edit', edit_captioned_image_path(@captioned_image) %> |
<%= link_to 'Back', captioned_images_path %>
